/* clear margin and padding  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* clear li style  */
li {
  list-style: none;
}

img {
  vertical-align: bottom;
}

input {
  outline: none;
}

/* cursor's style of button */
button {
  cursor: pointer;
  appearance: none;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
