html,
body {
  width: 100%;
}

body {
  width: 90%;
  margin: 50px auto 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-image: linear-gradient(rgb(103, 94, 94), rgb(214, 200, 200));
}

header {
  background-position: center;
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(to right, white, rgb(250, 211, 144));
  height: 200px;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  border-radius: 10px;
  align-items: flex-end;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
}

.park {
  margin-top: 50px;
  padding: 20px 30px;
  background: url("https://www.nps.gov/common/uploads/structured_data/010A933C-95B1-CBCD-D6D64D47D5B81E76.jpg") no-repeat;
}

.park:last-child {
  padding-bottom: 90px;
}

.park h2 {
  /* text-align: center; */
  font-size: 40px;
  margin-bottom: 10px;
}

.park-info {
  display: flex;
  align-items: stretch;

  height: 350px;
}

.park-image {
  flex: 1.5;
}

.cover {
  overflow: hidden;
  border: 10px ridge #f4e9e0;
}

.park-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.brief-intro {
  /* background-color: pink; */
  flex: 2;
  padding: 0 10px;
  margin-left: 10px;
  font-size: 18px;
}

.brief-intro p {
  margin-bottom: 10px;
}

.park-describe {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  font-style: italic;
}

.park-map {
  width: 100%;
  margin-top: 20px;
}
.park-map div {
  height: 325px;
}

.park-map h3 {
  text-align: center;
  margin-bottom: 10px;
}

.park-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* when to visit area - Start */
.schedule {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.schedule > * {
  flex: 100%;
}

.weather-row {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin: 5px 2px auto;
}

.weather-row > div {
  border-radius: 5px;
  text-align: center;
  background-color: rgb(24, 82, 136);
  flex: 1;
  padding: 5px;
  color: #fff;
  position: relative;
}

.active {
  background: rgb(206, 123, 15) !important;
}

.add::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 137, 20, 0.4) no-repeat center;
  background-image: url(../icons/add_icon.png);
}

.minus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 40, 9, 0.26) no-repeat center;
  background-image: url(../icons/minus_icon.svg);
}

.weather-row > div:hover {
  cursor: pointer;
}

.weather-row > div:last-child {
  margin-right: 0px;
}

.schedule > p {
  font-size: 25px;
}
.weather-row > div > p {
  padding-top: 5px;
  font-size: 16px;
}
.weather-row ul {
  font-size: 13px;
}

.weather-row img {
  margin-top: 5px;
}

.weather-row ul li {
  margin: 5px 0;
}

.weather-row ul li:first-child {
  margin-top: 0;
}

/* view-trip button style */
.generateBtn {
  text-align: center;
  width: 300px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px rgb(181, 185, 181);
  background-color: rgb(18, 149, 105);
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  padding: 20px 0;
  transition: 1s;
}

.generateBtn-update {
  background-color: rgb(187, 24, 19);
  transition: 0.8s;
}

.generateBtn-save {
  background-color: rgb(233, 167, 13);
  transition: 0.8s;
}

/* plan panel style  */

.currentPlan {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: rgba(201, 246, 222, 0.95);
  padding: 20px 40px 20px;
  border-radius: 5px;
  /* display: none; */
  transition: 2s;
}

.currentPlan-active {
  transform: translate(-50%, -110px);
  
  display: block;
}

.currentPlan > p {
  text-align: center;
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(24, 116, 31);
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
}

.trash {
  position: absolute;
  top: 10px;
  left: 10px;
}

.plan-date {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 5px;
}

.plan-site {
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 720px) {
  body {
    margin: 0;
    width: 100%;
  }

  .park {
    margin: 0 0 10px 0;
    padding: 20px 15px;
  }

  .park h2 {
    font-size: 20px;
  }

  .park-info {
    flex-direction: column;
    height: auto;
  }
  .park-image {
    width: 100%;
    max-height: 250px;
  }
  .park-describe {
    font-size: 15px;
  }
  .brief-intro {
    margin-top: 10px;
    padding: 0;
    font-size: 13px;
  }

  .schedule {
    margin-top: 0px;
  }

  .schedule > p {
    text-align: center;
    font-size: 17px;
  }

  .weather-row {
    justify-content: space-between;
  }

  .weather-row > div {
    max-width: 80px;
    min-width: 80px;
    margin: 0;
    font-size: 10px;
  }

  .weather-row ul {
    display: none;
  }

  .weather-row > div:hover::before {
    display: none;
  }

  .generateBtn {
    padding: 10px 20px;
    box-shadow: none;
  }

  .currentPlan {
    padding: 20px;
  }
  .cross {
    font-size: 14px;
    padding: 0px 6px;
  }

  .currentPlan > p {
    font-size: 16px;
  }

  .plan-date,
  .plan-site {
    font-size: 14px;
  }

  .plan-site img {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
}

@media screen and (max-width: 720px) {
  .weather-row > div > p {
    font-size: 12px;
  }
  .weather-row > div {
    min-width: 24%;
    max-width: 24%;
    margin-top: 3px;
  }

  .weather-row::after {
    content: "";
    width: 24%;
  }
}

@media screen and (min-width: 721px) {
  .brief-intro {
    font-size: 14px;
  }
  .park-describe {
    font-size: 17px;
  }

  .weather-row > div > p {
    font-size: 13px;
  }

  .weather-row > div {
    min-width: 24%;
    max-width: 24%;
    margin: 3px 2px auto;
  }

  .weather-row::after {
    content: "";
    width: 24%;
    margin: 3px 2px auto;
  }
}

@media screen and (min-width: 1024px) {
  .brief-intro {
    font-size: 17px;
  }
  .park-describe {
    font-size: 18px;
  }

  .weather-row > div ul li {
    display: block !important;
  }

  .weather-row > div {
    min-width: auto;
    max-width: auto;
  }
  .weather-row::after {
    display: none;
  }
}
