:root {
    ---primary-color: rgb(127, 144, 136);
    ---secondary-color: rgb(130, 253, 200);
    ---tertiary-color: rgb(250, 211, 144);

}

body {
    color:white;
    background-image: url("../images/background1.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.hero {
   background-position: center;
   display: flex;
   justify-content: flex-start;
   height: 200px;
   align-items: flex-end;
}

.hero-second {
    background-image: url("../images/background1.jpeg");
    height:200px;
    width: 100%;
    
}

button {
    border: solid 1px white;
    border-radius: 5px;
    padding: 0 10px 0 10px;

}