body {
  width: 90%;
  margin: 0 auto;
  font-family: Open sans;
  background-color: rgb(245, 245, 245);
}

.park {
  margin-top: 50px;
  padding: 20px 30px;
  background: url("https://www.nps.gov/common/uploads/structured_data/010A933C-95B1-CBCD-D6D64D47D5B81E76.jpg") no-repeat;
}

.park h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.park-info {
  display: flex;
  align-items: stretch;

  height: 350px;
}

.park-image {
  flex: 1.5;
}

.cover {
  overflow: hidden;
  border: 10px ridge #f4e9e0;
}

.park-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.brief-intro {
  /* background-color: pink; */
  flex: 2;
  padding: 0 10px;

  margin-left: 10px;
  flex-wrap: wrap;
}

.brief-intro .info {
  font-size: 24px;
  margin-bottom: 10px;
  font-style: italic;
}

.brief-intro p {
  font-size:20px;
  margin-bottom: 5px;
  /* background-color: pink; */
  flex: 1;
}

.park-map {
  flex: 1;
  padding: 0 10px;
}
.park-map div {
  height: 325px;
}

.park-map h3 {
  margin-bottom: 10px;
}

.park-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* when to visit area - Start */
.schedule {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.schedule > * {
  flex: 100%;
}

.schedule > p {
  font-size: 24px;
}

.weather-row {
  flex: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  font-size: 12px;
  margin-top: 5px;
}

.weather-row > div {
  border-radius: 5px;
  text-align: center;
  background-color: rgb(24, 82, 136);
  flex: 1;
  margin-right: 15px;
  padding: 5px;
  color: #fff;
  position: relative;
}

.weather-row > div::before {
  content: "";
  display: none;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 137, 20, 0.4) url(../icons/add_icon.png) no-repeat center;
}

.active {
  background: rgb(206, 123, 15) !important;
}

.weather-row > div:hover::before {
  display: block;
}

.weather-row > div:hover {
  cursor: pointer;
}

.weather-row > div:last-child {
  margin-right: 0px;
}

.weather-row p {
  font-size: 14px;
}

.weather-row img {
  margin-top: 5px;
}

.weather-row ul li {
  margin: 5px 0;
}

.weather-row ul li:first-child {
  margin-top: 0;
}

/* button style */
.generateBtn {
  text-align: center;
  width: 300px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px rgb(181, 185, 181);
  background-color: rgb(18, 149, 105);
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  padding: 20px 0;
  transition: 1s;
}

.generateBtn-update {
  background-color: rgb(187, 24, 19);
  transition: 0.8s;
}

.generateBtn-save {
  background-color: rgb(233, 167, 13);
  transition: 0.8s;
}

/* plan style  */
.currentPlan {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: rgba(201, 246, 222, 0.95);
  padding: 20px 40px 20px;
  border-radius: 5px;
  /* display: none; */
  transition: 1s;
}

.currentPlan-active {
  transform: translate(-50%, -110px);
  display: block;
}

.currentPlan > p {
  text-align: center;
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(24, 116, 31);
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid red;
  border-radius: 50%;
  padding: 1px 6px;
  color: red;
  font-size: 20px;
  line-height: 20px;
}

.cross:hover {
  color: rgba(201, 246, 222, 0.95);
  background-color: red;
  cursor: pointer;
  display: block;
}

.plan-date {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 5px;
}

.plan-site {
  text-align: center;
  font-size: 18px;
}
